# import packages

In [1]:
import pandas as pd 
import numpy as np 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE
from collections import Counter

In [2]:
data = pd.read_csv("car_evaluation.csv")
data.head(10)

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc
5  vhigh  vhigh      2        2      med   high   unacc
6  vhigh  vhigh      2        2      big    low   unacc
7  vhigh  vhigh      2        2      big    med   unacc
8  vhigh  vhigh      2        2      big   high   unacc
9  vhigh  vhigh      2        4    small    low   unacc

In [3]:
data.shape

(1728, 7)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   outcome   1728 non-null   object
dtypes: int64(2), object(5)
memory usage: 94.6+ KB

# see output information

In [5]:
data.outcome.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

# we have imbalanced data then fix it

# actually majorityClass is unacc and minitoryClass is vgood

# we use knn for learn and Comparison

In [6]:
# split data x and y 
x = data.drop('outcome',axis=1)
y = data['outcome']

In [7]:
#  We need to convert textual data into numerical data for teaching 
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
x[['buying','maint','lug_boot','safety']] = x[['buying','maint','lug_boot','safety']].apply(label_encoder.fit_transform)
x.head()
# now we have no problem for start train

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [8]:
# split data train and test 
x_train , x_test , y_train, y_test = train_test_split(x , y ,test_size=0.27)

In [9]:
# learn
learn =KNeighborsClassifier()
learn.fit(x_train,y_train)
y_predict = learn.predict(x_test)

/Users/amin/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [10]:
# now see accuracy model with imbalanced Data
acc = accuracy_score(y_predict,y_test)
print(acc)

0.9143468950749465

In [11]:
#not bad but not enough
pd.crosstab(y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       86     1     15      0
good      15     8      0      0
unacc      4     0    323      0
vgood      4     1      0     10

In [12]:
pip install imblearn

Requirement already satisfied: imblearn in /Users/amin/opt/anaconda3/lib/python3.9/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Users/amin/opt/anaconda3/lib/python3.9/site-packages (from imblearn) (0.11.0)
Requirement already satisfied: joblib>=1.1.1 in /Users/amin/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/amin/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/amin/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/amin/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: scipy>=1.5.0 in /Users/amin/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.9.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
smote = SMOTE()

In [14]:
x_train_smote, y_train_smote = smote.fit_resample(x_train.astype('float'),y_train)

In [15]:
print("data counts BEFORE use smote ======", Counter(y_train))
print("data counts BEFORE use smote ======", Counter(y_train_smote))

data counts BEFORE use smote ====== Counter({'unacc': 883, 'acc': 282, 'vgood': 50, 'good': 46})
data counts BEFORE use smote ====== Counter({'unacc': 883, 'acc': 883, 'good': 883, 'vgood': 883})

In [16]:
# learn WITH BALANCED DATA 
learn.fit(x_train_smote,y_train_smote)
y_predict = learn.predict(x_test)

/Users/amin/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [17]:
#accuracy with balanced data 
acc = accuracy_score(y_predict,y_test)
print(acc)

0.9314775160599572

In [18]:
## thats good Accuracy improved

In [19]:
pd.crosstab(y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       85     3     14      0
good       2    21      0      0
unacc     11     0    316      0
vgood      1     1      0     13